{% extends 'project/media.html' %}
{% load static %}
{% block content %}
<div id="top-bar" class="transparent dark">
  <div id="logo">
      62 кафедра
  </div>
  <nav>
      <ul id="mainmenu">
          <li style="margin: 0px 10px;" ><a href="{% url 'Home' %}" class="active"><span>Вернуться</span> на домашнюю страницу</a></li>
          <li><a href="{% url 'simulators' %}" class="active"><span>Вернуться</span> на прошлую страницу</a></li>
      </ul>
  </nav>
      <span id="menu-btn">
      <span class="lt"></span>
      <span class="lm"></span>
      <span class="lb"></span>
      </span>
      <div class="clearfix"></div>
</div>
<div id="content" >
    <div class="text-cipher">
        <h2 style=" padding: 20px;">Криптографический алгоритм {{ value }}</h2>
        <p style="color: azure;" >Здесь вам предлагается опробовать работу алгоритма</p>
        <form class='form' action="{% url 'cipher' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class='btn' type="submit" name="sub" value="run">Запуск</button>
        </form>
        <p></p>
        <p style="color: white;" > <strong>Результат шифрования:</strong> </p>
        <div style=" padding: 20px;" class="result">
            <textarea style="width: 100%;" disabled>{{ post }}</textarea>
          <!-- <p style="color: black;" >{{ post }}</p>   -->
        </div>
      </div>
    </div>
</div>


{% endblock %}
