{% extends 'project/learn.html' %}
{% load static %}
{% block content %}
<div id="container" class="container">	
    <div class="menu-panel">
        <h3>Содержание</h3>
        <ul id="menu-toc" class="menu-toc">
            <li class="menu-toc-current"><a href="#item1">Титульный лист</a></li>
            <li><a href="#item2">Предисловие</a></li>
            <li><a href="#item3">
                <p>1. Криптографические нападения и понятие о криптоанализе, надежность шифров.</p> 
                <p>1.1. Основные термины и понятия, используемые в криптографии, модели открытого текста.</p>
            </a></li>
            <li><a href="#item3">Криптографические нападения и понятие о криптоанализе, надежность шифров</a></li>
            <li><a href="#item4">Современные блочные шифры и методы из криптоанализа</a></li>
            <li><a href="#item5">Вспомогательные криптографические приметивы</a></li>
            <li><a href="#item6">приметивы</a></li>
            <li><a href="#item7">Криптосистемы с открытым ключом</a></li>
            <li><a href="#item7">Криптографические методы </a></li>
        </ul>
    </div>

    <div class="bb-custom-wrapper">
        <div id="bb-bookblock" class="bb-bookblock">
            <div class="bb-item" id="item1">
                <div class="content">
                    <div class="scroller">
                        <p style="text-align: center;">ВОЕННО-КОСМИЧЕСКАЯ АКАДЕМИЯ имени А.Ф. Можайского</p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p style="text-align: center;">А.М. Ромаченко, С.В. Пилькевич</p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p style="text-align: center;"><strong>КРИПТОГРАФИЧЕСКИЕ МЕТОДЫ</strong></p>
                        <p style="text-align: center;"><strong>ЗАЩИТЫ ИНФОРМАЦИИ</strong></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p style="text-align: center;">Учебное пособие</p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p style="text-align: center;">Учебное издание «Криптографические методы защиты информации» утверждено</p>
                        <p style="text-align: center;">решением редакционной коллегии Военно-космической академии имени А.Ф. Можайского</p>
                        <p style="text-align: center;">в качестве учебного пособия по дисциплине «Криптографические методы защиты информации»</p>
                        <p style="text-align: center;">и рекомендовано для обучающихся по основным профессиональным образовательным</p>
                        <p style="text-align: center;">программам высшего образования – программам специалитета по специальности</p>
                        <p style="text-align: center;">10.05.01 «Компьютерная безопасность», протокол № 4 от 13 апреля 2021 года</p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p style="text-align: center;"><img style="padding : 1px;" src="{% static 'project/images/img_00002.jpg' %}" alt=""></p>
                        <p style="text-align: center;">Санкт-Петербург</p>
                        <p style="text-align: center;">2022</p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="bb-item" id="item2">
                <div class="content">
                    <div class="scroller">
                        <h2>Предисловие</h2>
                        <p>Одним из элементов современного мира стала острая необходимость в защите данных самого разного вида и назначения.
                            Без защиты информации уже невозможно представить себе устройство общества. Персональные данные, военные секреты,
                            базы данных различных учреждений, финансовая информация, технологические секреты и многое другое легко попали бы в руки злоумышленников,
                            что привело бы к серьезным последствиям. К счастью, ничего подобного не происходит. В случае необходимости защиты данных от посторонних,
                            на помощь приходят методы и алгоритмы защиты информации. Эти методы довольно разнообразны: от физических до программных, и выбор зависит от того,
                            какие данные будут защищаться. Для защиты бумажных документов достаточно ограничения доступа в помещение, где они хранятся, например,
                            с помощью пропускной системы. Для защиты персонального компьютера от загрузки со сторонних носителей информации необходимо использовать устройство доверенной загрузки и обеспечить невозможность вскрытия системного блока.
                            Эти способы являются физической защитой. В случае электронной информации все гораздо сложнее. Если украсть физический носитель, то это можно легко обнаружить,
                            электронную информацию можно скопировать сколько угодно раз, и это нельзя обнаружить пока скопированная информация не появится, к примеру, в газетном выпуске.
                            Современные бытовые флэш-носители обладают размерами 20*20*5 мм и имеют емкость, достаточную, чтобы украсть целую библиотеку,
                            правда для этого все еще нужен физический доступ к устройству, в котором хранится информация. Если компьютер с важной информацией подключен к сети,
                            то не требуется и физический доступ, злоумышленник может проникнуть в него из другой страны и скопировать к себе важную информацию.
                            Сложность защиты компьютерной информации породила разнообразие методов защиты. Как правило, ядром любой системы защиты данных являются криптографические методы информации.
                            Они преобразуют информацию с помощью математических методов так, чтобы злоумышленник не смог получить к ней доступ в случае, если у него оказались зашифрованные данные.
                            Кроме шифрования криптография выполняет множество других задач, таких как обмен ключами, авторизацию, аутентификацию и т.д.
                            Важно понимать, что несмотря на то, что криптографические методы дают высокую стойкость к взлому,
                            у злоумышленника есть много других способов получения доступа к информации в обход криптографии.
                            Это хищение ключей хакерами, использование вирусного кода, эксплуатация уязвимостей реализации криптоалгоритмов, операционных систем и программного обеспечения.
                            Таким образом криптография является только одним из компонентов системы защиты информации и слабость других частей может легко свести на нет все преимущества ее использования.</p>

                        <p><strong>Первый раздел</strong> посвящен рассмотрению основ криптографии как науки о засекречивании информации. Дан исторический обзор криптографических методов защиты информации.
                            Рассмотрены основные задачи защиты информации криптографическими методами, требования, предъявляемые к шифрам. простейшие шифры замены и методы их анализа.</p>

                        <p><strong>Второй раздел</strong> затрагивает область криптоанализа и надежности шифров. Рассматривается теоретическая и практическая стойкость шифров,
                             вводится понятие абсолютно стойкого шифра. При изложении вопросов, связанных с криптографическим анализом,
                              вербальное описание криптоаналитика конкретизируется через перечисление его параметров и дополняется формальной моделью.</p>

                        <p>Современные блочные шифры и методы их анализа рассмотрены в рамках <strong>третьего раздела</strong> учебного пособия.
                            Изложение материала построено по принципу «от общего к частному»: приводятся криптографические примитивы и возможные схемы построения блочных шифров,
                            после чего рассматриваются примеры отечественных и зарубежных алгоритмов, реализующих перечисленные подходы.</p>

                        <p>Вопросы криптографического анализа блочных алгоритмов шифрования излагаются в соответствии с современной классификационной схемой. Основное внимание уделено вероятностным методам, линейному, интегральному и алгебраическому методам криптоанализа.</p>
                        <p>Аспект привнесения в алгоритмы шифрования дополнительного элемента случайности раскрыт <strong> в четвертом разделе,</strong> при этом рассмотрены вопросы вероятностного шифрования, а также применение управляемых криптографических примитивов в практике конструирования блочных шифров. Несколько особняком стоит изложение материала, посвященного криптографическим хэш функциям, относящимся как к бесключевым, так и к одноключевым криптографическим алгоритмам и являющихся неотъемлемой частью схем электронной цифровой подписи. Завершает четвертый раздел описание поточных алгоритмов шифрования, включающее их классификацию, основные структурные элементы и примеры шифров.</p>
                        <p> <strong>Пятый раздел</strong> дает представление о криптосистемах с открытым ключом. Излагаются предпосылки и история их появления, рассматривается концепция двухключевой криптографии, первые алгоритмы и современные стандартизированные асимметричные криптосистемы, предназначенные для распределения ключевой информации по открытым каналам связи (системы выработки общего сеансового ключа) и для обеспечения целостности и аутентичности передаваемой информации (схемы электронной цифровой подписи). Кроме того, авторами уделено внимание методам криптоанализа асимметричных криптосистем.</p>
                        <p><strong>В рамках шестого раздела,</strong> озаглавленного как «Криптографические методы в современных средствах защиты информации в компьютерных системах» основной упор делается на описание криптографических генераторов псевдослучайных последовательностей, изложение основ стегананографии и элементов квантовой криптографии как в части построения квантовых протоколов передачи ключей, так и применения квантовых компьютеров в ходе проведения криптографического анализа асимметричных систем шифрования.</p>
                        <p>Таким образом, авторы считают, что им удалось выдержать «баланс» между теоретическим и практическим наполнением учебного пособия.</p>
                        <p>Учебное пособие разработали: канд. техн. наук А.М. Романченко (разделы 1, 2, подразд. 3.3−3.6 и раздел 4); <strong>доктор техн. наук С.В. Пилькевич</strong>  (подразд. 3.1 и 3.2, разделы 5, 6); подобран мультимедийный и справочный материал; предисловие написано совместно А.М. Романченко и С.В. Пилькевичем.</p>
                        <p>Авторы приносят благодарность Афанасьеву А.О., Демидько Е.С., Лабасюку Е.Ю., Майеру Э.Э., Тавалинскому А.Д. и Шайдарову Н.А., оказавшим помощь на завершающем этапе технического редактирования и формирования учебного издания.</p>
                    </div>
                </div>
            </div>
            <div class="bb-item" id="item3">
                <div class="content">
                    <div class="scroller">
                        <h2>Страница 3</h2>
                        <p>In dignissim nisi non mi adipiscing, a tempor mauris porttitor. Curabitur ut auctor augue. Maecenas molestie at nibh vitae tempor. Nulla varius quis metus quis rhoncus. Nam vestibulum quis mi sit amet accumsan. Aenean sit amet gravida tellus. Suspendisse in commodo eros. Integer eu velit ultrices, varius urna vel, ullamcorper sapien. Aenean sit amet consequat orci. Nulla facilisi. Aenean quis lectus sit amet mauris malesuada eleifend. Donec tempus diam eros, eu bibendum ante aliquam ut. Proin eu elit sapien.</p>

                        <p>Sed arcu nunc, molestie non venenatis in, aliquet eget turpis. Curabitur a porta mi. Mauris et mauris eleifend, tristique neque vitae, dignissim diam. Aliquam vel porta quam. Nam lacus diam, adipiscing a mi non, consectetur convallis orci. Fusce euismod sagittis eros, nec tincidunt augue. Vivamus aliquam egestas cursus. Nunc id ultricies leo. Phasellus hendrerit fringilla massa in rhoncus. Donec nec risus quam. Donec vulputate venenatis turpis, tempor accumsan tellus faucibus eget. Nam et luctus dolor, varius tristique risus. Donec auctor bibendum iaculis. </p>

                        <p>Phasellus mollis purus orci, sit amet vehicula tortor dictum iaculis. Curabitur rutrum et diam vel semper. Sed laoreet, odio ultricies ultrices laoreet, turpis risus semper leo, nec vestibulum velit eros luctus risus. Duis lobortis ipsum quis nulla mollis, vitae posuere turpis bibendum. Donec at mi sed purus dictum molestie. Curabitur quis viverra nisl. Pellentesque sapien ipsum, pulvinar vitae euismod et, dapibus sit amet urna. Ut interdum ultrices sem sit amet aliquam. Cras vitae odio eget leo sodales convallis. Nullam molestie vehicula dui, non vestibulum magna ultricies placerat. Sed eu massa massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum vitae lacinia nisl, id sagittis purus. Aenean tincidunt ligula arcu, tincidunt dapibus dolor luctus porta. Vestibulum lacinia in metus non bibendum. </p>

                        <p>Nunc a laoreet mi. In adipiscing magna dui, sed aliquet arcu malesuada ac. Aenean a quam vitae purus dictum mollis.</p>

                        <p>Pellentesque a fermentum orci. Fusce est dolor, rhoncus ut erat at, consequat gravida purus. Morbi eu tristique libero.</p>

                        <p>Ut congue et felis vitae tincidunt. Integer ultrices justo a quam commodo, a vehicula felis rutrum. Suspendisse feugiat enim a nisi vestibulum dignissim. Donec imperdiet, augue vel pharetra blandit, odio dolor vestibulum leo, id porta nibh tellus vehicula ligula. Sed volutpat scelerisque feugiat.</p>
                    </div>
                </div>
            </div>
            <div class="bb-item" id="item4">
                <div class="content">
                    <div class="scroller">
                        <h2>Страница 4</h2>
                        <p>Proin bibendum, augue a blandit luctus, eros tortor porttitor magna, et suscipit felis eros non justo. Maecenas vel elementum risus, non elementum mi. Praesent ullamcorper magna vitae mi elementum pretium. Donec id feugiat libero, et volutpat nisi. Nunc volutpat erat sed purus dapibus, quis mollis augue vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam mattis pulvinar nisi eget interdum. </p>

                        <p>Vestibulum tempor odio lacus. Phasellus interdum varius venenatis. Curabitur dolor turpis, congue ut vestibulum sit amet, tristique eget diam. Mauris rhoncus arcu vitae pellentesque euismod. Nullam sit amet cursus nisi. Suspendisse ullamcorper, turpis ut fringilla mattis, neque diam vulputate leo, vitae hendrerit enim dolor a magna. Nullam rhoncus id justo vel dapibus.</p>

                        <p>Etiam ac condimentum odio. In auctor vitae ante eu malesuada. Integer sed turpis sed dolor fringilla scelerisque ut vel lacus.</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae nisl ultrices sem euismod luctus. Fusce ante metus, bibendum sit amet tortor at, luctus tincidunt quam. Vivamus tempor tristique mi, vel ullamcorper odio varius sed. Vivamus sed dolor risus. Nam lacinia vestibulum nunc, nec luctus nisl ornare sed. Praesent quis risus erat. Integer at imperdiet nunc. Nulla imperdiet, ante ac luctus feugiat, massa arcu varius elit, at accumsan diam libero et felis. Fusce condimentum tincidunt sagittis. Donec rutrum libero id lacus bibendum, et condimentum risus euismod. Donec id lectus a dui scelerisque hendrerit eget a massa. </p>
                    </div>
                </div>
            </div>
            <div class="bb-item" id="item5">
                <div class="content">
                    <div class="scroller">
                        <h2>Страница 5</h2>
                        <p>Quisque condimentum quam diam, vulputate mollis augue condimentum vel. Quisque accumsan, libero vitae commodo scelerisque, dui nisi porttitor erat, at blandit sapien nunc nec orci. Sed ac ligula vel dui consequat interdum. Curabitur aliquet sollicitudin erat sit amet iaculis. Proin et metus scelerisque, varius sem varius, vulputate mauris. Fusce sed lorem et erat tempus vulputate. Nulla non libero quis nibh lobortis fringilla ac imperdiet sem. Duis ac elementum nibh, eu faucibus magna.</p>

                        <p>Quisque blandit sagittis nulla non ullamcorper. Ut tristique vel risus eu posuere. Quisque posuere tortor at libero rhoncus, eget bibendum augue pellentesque. In viverra vel neque sit amet ultrices. Pellentesque molestie, ligula at ornare cursus, nulla libero molestie ipsum, in ultrices mauris diam lacinia neque. Vivamus eu vulputate neque. </p>

                        <p>Etiam nisl mauris, gravida non metus eu, tincidunt elementum felis. Donec eget suscipit quam, vel lobortis risus. Vivamus turpis nunc, venenatis vulputate rhoncus a, suscipit a augue. Integer viverra accumsan tellus, vitae aliquam arcu elementum in. Ut id aliquet dui. Aliquam lobortis sagittis feugiat. Vivamus ac felis mi. Vivamus iaculis sed enim sit amet luctus. </p>

                        <p>Donec bibendum lacinia accumsan. Phasellus pretium justo sed feugiat hendrerit. Etiam ultrices imperdiet justo, vitae placerat nulla imperdiet id. Maecenas luctus interdum nisi, nec rhoncus massa mollis et. Praesent ut feugiat dolor. Morbi vitae sapien a odio congue ultrices. Vestibulum accumsan lacinia tincidunt.</p>

                        <p>Maecenas ante metus, sodales nec est non, volutpat sollicitudin nulla. Sed convallis posuere ultricies. Suspendisse id suscipit est. Phasellus molestie velit est, quis fermentum leo aliquam vel. Phasellus vulputate orci a vestibulum pulvinar. </p>

                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vehicula turpis in nunc volutpat rhoncus. Nam pretium bibendum eros, ac sodales est faucibus in. Vestibulum sed lobortis lacus. Morbi elementum pellentesque hendrerit. Integer venenatis diam ut metus faucibus, quis commodo leo tincidunt. Proin tincidunt, dui non consequat pellentesque, dui elit dapibus justo, in sodales ligula mauris vel nisl. Curabitur diam enim, ultricies ac risus nec, blandit vestibulum libero.</p>

                        <p>Donec sed pharetra diam, tristique tempor lacus. Vivamus sit amet tempus magna. Sed iaculis libero ac viverra eleifend. Duis non urna vitae nibh molestie fringilla eget sed mauris. Nunc vehicula, enim eget luctus consectetur, odio neque blandit lacus, eget vestibulum metus orci et nibh. Fusce at varius augue, vitae porta urna. </p>

                        <p>Aenean in massa ut ante egestas rutrum viverra vitae ipsum. Vestibulum vel urna quis turpis pharetra porta. Nunc eleifend mattis justo eu dapibus. Phasellus ac lectus justo.</p>

                        <p>Quisque eleifend gravida nisi sit amet placerat. In iaculis est a purus molestie tempus. Duis diam leo, feugiat a lobortis ut, vestibulum ut sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sit amet molestie ligula, vel posuere turpis. Nulla ultricies vehicula ultrices. </p>

                        <p>Nulla congue bibendum neque nec vehicula. Suspendisse at ornare tortor. Ut posuere nibh ligula, ut bibendum ipsum aliquam id. Curabitur rhoncus tellus eros, et consectetur augue ullamcorper et. Aenean porttitor in neque et semper. Cras vitae tincidunt tellus, at aliquet magna. Vivamus dui orci, venenatis in leo nec, pulvinar condimentum leo. Aenean rutrum imperdiet diam et aliquam. </p>

                        <p>Sed ut iaculis mi, nec laoreet massa. Aliquam erat volutpat. Vivamus auctor ultricies eros ut vulputate. Quisque tincidunt elit vitae sem ultrices, nec laoreet turpis hendrerit. Donec pharetra tincidunt velit, a elementum purus molestie quis. Vivamus viverra risus nec ante ultricies, id luctus est semper. Nullam vel diam sapien. </p>

                        <p>Integer sem massa, vestibulum vel erat sit amet, lobortis adipiscing felis. Nullam semper tortor et nisi tristique pulvinar. Nunc ullamcorper, ante nec rutrum scelerisque, lacus diam tincidunt urna, et consectetur nibh sem et quam. Quisque iaculis molestie dolor pulvinar hendrerit. Nam tempus tincidunt mauris eget euismod. Praesent pellentesque facilisis ultricies.</p>

                        <p>Morbi auctor, nulla eu viverra sollicitudin, nibh sapien tempor purus, quis ultrices sapien ipsum non ligula.</p>

                        <p>Proin molestie egestas egestas. Etiam quam metus, tempus et ligula eget, rutrum mattis mi. Donec faucibus mattis tortor, eget eleifend tellus eleifend vitae. Praesent a rhoncus massa. Donec interdum quam in erat commodo faucibus. Quisque nec neque tellus.</p>

                        <p>Maecenas placerat vehicula turpis sed tempor. Phasellus tristique tortor id sapien volutpat tincidunt eu molestie augue. Sed imperdiet, diam non fermentum fermentum, orci diam rhoncus eros, vestibulum lacinia dui lorem nec tortor. Morbi dignissim elit vitae imperdiet tempor. Praesent sagittis metus quis venenatis venenatis.</p>

                        <p>Mauris et ligula gravida, euismod nunc eget, condimentum nulla. Proin sed dapibus tellus, ut pharetra leo. Phasellus porttitor elit et tortor mollis, egestas iaculis augue sollicitudin. </p>
                    </div>
                </div>
            </div>

            <div class="bb-item" id="item6">
                <div class="content">
                    <div class="scroller">
                        <h2>Страница 6</h2>
                        <p>Quisque condimentum quam diam, vulputate mollis augue condimentum vel. Quisque accumsan, libero vitae commodo scelerisque, dui nisi porttitor erat, at blandit sapien nunc nec orci. Sed ac ligula vel dui consequat interdum. Curabitur aliquet sollicitudin erat sit amet iaculis. Proin et metus scelerisque, varius sem varius, vulputate mauris. Fusce sed lorem et erat tempus vulputate. Nulla non libero quis nibh lobortis fringilla ac imperdiet sem. Duis ac elementum nibh, eu faucibus magna.</p>

                        <p>Quisque blandit sagittis nulla non ullamcorper. Ut tristique vel risus eu posuere. Quisque posuere tortor at libero rhoncus, eget bibendum augue pellentesque. In viverra vel neque sit amet ultrices. Pellentesque molestie, ligula at ornare cursus, nulla libero molestie ipsum, in ultrices mauris diam lacinia neque. Vivamus eu vulputate neque. </p>

                        <p>Etiam nisl mauris, gravida non metus eu, tincidunt elementum felis. Donec eget suscipit quam, vel lobortis risus. Vivamus turpis nunc, venenatis vulputate rhoncus a, suscipit a augue. Integer viverra accumsan tellus, vitae aliquam arcu elementum in. Ut id aliquet dui. Aliquam lobortis sagittis feugiat. Vivamus ac felis mi. Vivamus iaculis sed enim sit amet luctus. </p>

                        <p>Donec bibendum lacinia accumsan. Phasellus pretium justo sed feugiat hendrerit. Etiam ultrices imperdiet justo, vitae placerat nulla imperdiet id. Maecenas luctus interdum nisi, nec rhoncus massa mollis et. Praesent ut feugiat dolor. Morbi vitae sapien a odio congue ultrices. Vestibulum accumsan lacinia tincidunt.</p>

                        <p>Maecenas ante metus, sodales nec est non, volutpat sollicitudin nulla. Sed convallis posuere ultricies. Suspendisse id suscipit est. Phasellus molestie velit est, quis fermentum leo aliquam vel. Phasellus vulputate orci a vestibulum pulvinar. </p>

                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vehicula turpis in nunc volutpat rhoncus. Nam pretium bibendum eros, ac sodales est faucibus in. Vestibulum sed lobortis lacus. Morbi elementum pellentesque hendrerit. Integer venenatis diam ut metus faucibus, quis commodo leo tincidunt. Proin tincidunt, dui non consequat pellentesque, dui elit dapibus justo, in sodales ligula mauris vel nisl. Curabitur diam enim, ultricies ac risus nec, blandit vestibulum libero.</p>

                        <p>Donec sed pharetra diam, tristique tempor lacus. Vivamus sit amet tempus magna. Sed iaculis libero ac viverra eleifend. Duis non urna vitae nibh molestie fringilla eget sed mauris. Nunc vehicula, enim eget luctus consectetur, odio neque blandit lacus, eget vestibulum metus orci et nibh. Fusce at varius augue, vitae porta urna. </p>

                        <p>Aenean in massa ut ante egestas rutrum viverra vitae ipsum. Vestibulum vel urna quis turpis pharetra porta. Nunc eleifend mattis justo eu dapibus. Phasellus ac lectus justo.</p>

                        <p>Quisque eleifend gravida nisi sit amet placerat. In iaculis est a purus molestie tempus. Duis diam leo, feugiat a lobortis ut, vestibulum ut sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sit amet molestie ligula, vel posuere turpis. Nulla ultricies vehicula ultrices. </p>

                        <p>Nulla congue bibendum neque nec vehicula. Suspendisse at ornare tortor. Ut posuere nibh ligula, ut bibendum ipsum aliquam id. Curabitur rhoncus tellus eros, et consectetur augue ullamcorper et. Aenean porttitor in neque et semper. Cras vitae tincidunt tellus, at aliquet magna. Vivamus dui orci, venenatis in leo nec, pulvinar condimentum leo. Aenean rutrum imperdiet diam et aliquam. </p>

                        <p>Sed ut iaculis mi, nec laoreet massa. Aliquam erat volutpat. Vivamus auctor ultricies eros ut vulputate. Quisque tincidunt elit vitae sem ultrices, nec laoreet turpis hendrerit. Donec pharetra tincidunt velit, a elementum purus molestie quis. Vivamus viverra risus nec ante ultricies, id luctus est semper. Nullam vel diam sapien. </p>

                        <p>Integer sem massa, vestibulum vel erat sit amet, lobortis adipiscing felis. Nullam semper tortor et nisi tristique pulvinar. Nunc ullamcorper, ante nec rutrum scelerisque, lacus diam tincidunt urna, et consectetur nibh sem et quam. Quisque iaculis molestie dolor pulvinar hendrerit. Nam tempus tincidunt mauris eget euismod. Praesent pellentesque facilisis ultricies.</p>

                        <p>Morbi auctor, nulla eu viverra sollicitudin, nibh sapien tempor purus, quis ultrices sapien ipsum non ligula.</p>

                        <p>Proin molestie egestas egestas. Etiam quam metus, tempus et ligula eget, rutrum mattis mi. Donec faucibus mattis tortor, eget eleifend tellus eleifend vitae. Praesent a rhoncus massa. Donec interdum quam in erat commodo faucibus. Quisque nec neque tellus.</p>

                        <p>Maecenas placerat vehicula turpis sed tempor. Phasellus tristique tortor id sapien volutpat tincidunt eu molestie augue. Sed imperdiet, diam non fermentum fermentum, orci diam rhoncus eros, vestibulum lacinia dui lorem nec tortor. Morbi dignissim elit vitae imperdiet tempor. Praesent sagittis metus quis venenatis venenatis.</p>

                        <p>Mauris et ligula gravida, euismod nunc eget, condimentum nulla. Proin sed dapibus tellus, ut pharetra leo. Phasellus porttitor elit et tortor mollis, egestas iaculis augue sollicitudin. </p>
                    </div>
                </div>
            </div>
        </div>
        
        <nav>
            <span id="bb-nav-prev">&larr;</span>
            <span id="bb-nav-next">&rarr;</span>
        </nav>
        <span id="tblcontents" class="menu-button">Содержание</span>
    </div>
</div>
{% endblock %}