{% extends 'project/media.html' %}
{% load static %}
{% block content %}
<div id="top-bar" class="transparent dark">
    <div id="logo">
        62 кафедра
    </div>
    <nav>
        <ul id="mainmenu">
                <li><a href="{% url 'Home' %}" class="active"><span>Вернуться</span> на домашнюю страницу</a></li>
            </ul>
        </nav>
        <span id="menu-btn">
            <span class="lt"></span>
            <span class="lm"></span>
            <span class="lb"></span>
        </span>
        <div class="clearfix"></div>
</div>
<div id="content" >
    <section class="author-archive">
    <div class="container">
      <h1>Криптографические алгоритмы</h1>
      <input type="radio" id="All" name="categories" value="All" checked>
      <input type="radio" id="cipher" name="categories" value="cipher">
      <input type="radio" id="symmetrical" name="categories" value="symmetrical">
      <input type="radio" id="block" name="categories" value="block">
      <input type="radio" id="in-line" name="categories" value="in-line">
      <input type="radio" id="asymmetrical" name="categories" value="asymmetrical">
      <input type="radio" id="hash" name="categories" value="hash">
      <input type="radio" id="PSCH" name="categories" value="PSCH">
      <input type="radio" id="EDS" name="categories" value="EDS">
      
  
      <ol class="filters">
        <li>
          <label for="All">Все алгоритмы</label>
        </li>
        <li>
          <label for="cipher">Алгоритмы шифрования</label>
        </li>
        <li>
          <label for="symmetrical">Симметричные шифры</label>
        </li>
        <li>
          <label for="block">Блочные шифры</label>
        </li>
        <li>
          <label for="in-line">Поточные шифры</label>
        </li>
        <li>
          <label for="asymmetrical">Асимметричные шифры</label>
        </li>
        <li>
          <label for="hash">Хэш-функции</label>
        </li>
        <li>
            <label for="PSCH">Генераторы ПСЧ</label>
        </li>
        <li>
            <label for="EDS">Алгоритмы ЭЦП</label>
        </li>
      </ol>
  
      <ol class="posts">
        <li class="post" data-category="symmetrical asymmetrical cipher">
          <article>
            <figure>
              <figcaption>
                <ol class="post-categories">
                  <li>
                    <a href="">Асимметричные</a>
                  </li>
                  <li>
                    <a href="">Симметричные</a>
                  </li>
                  <li>
                    <a href="">Алгоритмы шифрования</a>
                  </li>
                </ol>
                <h2 style="text-align: center;" class="post-title">
                  <a style="color: black;" href="#" >Алгоритм шифрования RSA
                  </a>
                </h2>
              </figcaption>
            </figure>
          </article>
        </li>
        <li class="post" data-category="symmetrical block cipher">
          <article>
            <figure>
              <figcaption>
                <ol class="post-categories">
                  <li>
                    <a href="">Симметричные</a>
                  </li>
                  <li>
                    <a href="">Блочные шифры</a>
                  </li>
                  <li>
                    <a href="">Алгоритмы шифрования</a>
                  </li>
                </ol>
                <h2 class="post-title">
                  <a style="color: black;" href="#">Алгоритм шифрования AES
                  </a>
                </h2>
              </figcaption>
            </figure>
          </article>
        </li>
        <li class="post" data-category="symmetrical block cipher">
          <article>
            <figure>
              <figcaption>
                <ol class="post-categories">
                  <li>
                    <a href="">Симметричные</a>
                  </li>
                  <li>
                    <a href="">Блочные шифры</a>
                  </li>
                  <li>
                    <a href="">Алгоритмы шифрования</a>
                  </li>
                </ol>
                <h2 class="post-title">
                  <a style="color: black;" href="#">Алгоритм шифрования "Кузнечик"
                  </a>
                </h2>
              </figcaption>
            </figure>
          </article>
        </li>
        <li class="post" data-category="hash">
          <article>
            <figure>
              <figcaption>
                <ol class="post-categories">
                  <li>
                    <a href="">Хэш-функции</a>
                  </li>
                </ol>
                <h2 class="post-title">
                  <a style="color: black;" href="{% url 'cipher' %}">MD5
                  </a>
                </h2>
              </figcaption>
            </figure>
          </article>
        </li>
        <li class="post" data-category="hash">
          <article>
            <figure>
              <figcaption>
                <ol class="post-categories">
                  <li>
                    <a href="">Хэш-функции</a>
                  </li>
                </ol>
                <h2 class="post-title">
                  <a style="color: black;" href="#">SHA256
                  </a>
                </h2>
              </figcaption>
            </figure>
          </article>
        </li>
        <li class="post" data-category="hash">
          <article>
            <figure>
              <figcaption>
                <ol class="post-categories">
                  <li>
                    <a href="">Хэш-функции</a>
                  </li>
                </ol>
                <h2 class="post-title">
                  <a style="color: black;" href="#">Хэш-функция Стриборг</a>
                </h2>
              </figcaption>
            </figure>
          </article>
        </li>
        
      </ol>
    </div>
  </section>
</div>


{% endblock %}

                <!-- <form action="{% url 'simulators' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="insert" >Запустить</button>
                </form> -->