{% extends 'project/media.html' %}
{% load static %}
{% block content %}
<div id="top-bar" class="transparent dark">
  <div id="logo">
      62 кафедра
  </div>
  <nav>
      <ul id="mainmenu">
          <li><a href="{% url 'Home' %}" class="active"><span>Вернуться</span> на домашнюю страницу</a></li>
      </ul>
  </nav>
      <span id="menu-btn">
      <span class="lt"></span>
      <span class="lm"></span>
      <span class="lb"></span>
      </span>
      <div class="clearfix"></div>
</div>
<div id="content" >
       <div class="main-posts">
    <div class="container">
      <div class="row">
        <div class="blog-masonry masonry-true" style="height: 100%;">
          {% for video in video_list %}
            <div class="post-masonry col-md-4 col-sm-6">
              <div class="post-thumb">
                <img src={{ video.image.url }} alt="">
                <div class="title-over">
                  <h4>{{ video.title }}</h4>
                </div>
                <div class="post-hover text-center">
                  <div class="inside">
                    <i class="fa fa-plus"></i>
                    <span class="date">{{ video.create_at }}</span>
                    <h4><a href="{% url 'video' video.id %}">{{ video.title }}</a></h4>
                    <p>{{ video.description|slice:":100" }}</p>
                  </div>
                </div>
              </div>
            </div> 
          {% endfor %}
        </div>
      </div>
    </div>
</div>         
</div>


{% endblock %}
