{% extends 'project/media.html' %}

{% block content %}
<div id="top-bar" class="transparent dark">
  <div id="logo">
      62 кафедра
  </div>
  <nav>
      <ul id="mainmenu">
          <li style="margin: 0px 10px;" ><a href="{% url 'Home' %}" class="active"><span>Вернуться</span> на домашнюю страницу</a></li>
          <li><a href="{% url 'media' %}" class="active"><span>Вернуться</span> в медиабиблиотеку</a></li>
      </ul>
  </nav>
      <span id="menu-btn">
      <span class="lt"></span>
      <span class="lm"></span>
      <span class="lb"></span>
      </span>
      <div class="clearfix"></div>
</div>
<div id="content" >
  <div class="main-posts">
    <div class="container">

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <video
              id="my-video"
              class="video-js"
              controls
              preload="auto"
              width="1000"
              height="800"
              data-setup="{}"
          >
            <source src="{% url 'stream' video.id %}" type="video/mp4"/>
            <source src="{% url 'stream' video.id %}" type="video/webm"/>
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock content %}